{% extends "layout.html" %}

{% block content %}

<section class="section">
  <div class="container">
    <div class="columns is-centered mt-6">
      <div class="column is-8">
        <h2 class="title is-4">List of keys</h2>
        {% if keys %}
        <table class="table is-striped">
          <thead>
            <th>Key name</th>
            <th>Key value</th>
            <th>Action</th>
          </thead>
          <tbody>
            {% for key in keys %}
              <tr>
                <td>{{ key.name }}</td>
                <td>{{ key.key }}</td>
                <td> <a href="{{ url_for('main.key_delete', key_id=key.id) }}" class="button is-danger">Delete key</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}  
          <p class="content">No keys active</p>
        {% endif %}
      </div>
      <div class="column is-4">
        <a href="{{ url_for('main.key_new')}}" class="button is-large is-primary">New key</a>
      </div>
    </div>

  
  </div>
</section>

  
{% endblock content %}