<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  {% if title %}
    <title>Location app - {{ title }}</title>
  {% else %}
    <title>Location app</title>
  {% endif %}

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  
  {% include 'navbar.html' %}

<section class="section pt-6">
  <div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="notification is-{{ category }}">
          <button class="delete"></button>
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith%}

  {% block content%}
  {% endblock %}
  </div>
</section>
  

</body>
</html> 