<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ url_for('main.index')}}">
      <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      {% if current_user.is_authenticated %}
        <a class="navbar-item" href="{{ url_for('borrow.borrow_list')}}">
          Borrows
        </a>
        <a class="navbar-item" href="{{ url_for('main.key_list')}}">
          Keys
        </a>
      {% endif %}
      {# 
        <a class="navbar-item">
          Documentation
        </a>
      #}

    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          {% if current_user.is_authenticated %}
            <a class="button" href="{{ url_for('users.account')}}">
              <strong>My account</strong>
            </a>  
            <a class="button is-primary" href="{{ url_for('users.logout')}}">
              <strong>Log out</strong>
            </a>  
          {% else%}
            <a class="button is-primary" href="{{ url_for('users.register')}}">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light" href="{{ url_for('users.login')}}">
              Log in
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</nav>